
.texters{
}
  .texters .sobre{
    margin-top: 130px;
  }
    .texters .sobre .textoSobre{
      max-width: 425px;
      margin: 0 auto;
    }
      .texters .sobre .textoSobre h2{
        color: #203447;
        width: 407px;
        max-width: 100%;
        font-weight: 700;
        font-size: 40px;
      }
      .texters .sobre .textoSobre p{
        font-size: 14px;
        line-height: 27px;
        color: #7e8b98;
      }
      .texters .sobre .imagem{
       
      }
        .texters .sobre .imagem figure{
         
        }
          .texters .sobre .imagem figure.right img{
           display: block;
           margin: 0 auto;
           float: right;
          }
          .texters .sobre .imagem figure img{
           display: block;
           margin: 0 auto;
           float: right;
          }

.vagasDisponveis{
}
  .vagasDisponveis h2{
    display: block;
    margin: 15px auto;
    text-align: center;
    font-size: 36px;
  }
    .vagasDisponveis .opcoesVagas{
    text-align: center;
    font-size: 0;
      margin-bottom: 10px;
    }
        .vagasDisponveis .opcoesVagas .item{
            display: inline-block;
            border-bottom: 4px solid #99a9be;
            width: 100%;
        }
        .vagasDisponveis .opcoesVagas .item:hover{
            border-bottom: 4px solid #0081ff;
            transition: all cubic-bezier(0.01, 0.53, 1, 1) .4s;
            -webkit-transition: all cubic-bezier(0.01, 0.53, 1, 1) .4s;
            -moz-transition:all cubic-bezier(0.01, 0.53, 1, 1) .4s;
            -o-transition: all cubic-bezier(0.01, 0.53, 1, 1) .4s;
        }
            .vagasDisponveis .opcoesVagas .item.CategoriaAtiva {
                border-bottom: 4px solid #0081ff;
            }
            .vagasDisponveis .opcoesVagas .item.CategoriaAtiva h2 {
                color: #0081ff;
            }
            .vagasDisponveis .opcoesVagas .item:hover h2 {
                color: #0081ff;
            }
            .vagasDisponveis .opcoesVagas .item button{
                background: transparent;
                border: none;
                outline: none;
            }
                .vagasDisponveis .opcoesVagas .item h2{
                    letter-spacing: 0.3px;
                    color: #99a9be;
                    margin: 0;
                    text-align: center;
                    font-size: 16px;
                    padding: 13px 37px;
                } 
.vagasDisponveis .areaDescricaoVagas{
  display: none;
}
    .vagasDisponveis .areaDescricaoVagas .vagas {
        text-align: center;
    }
        .vagasDisponveis .areaDescricaoVagas .vagas a{
            display: inline-block;
            width: 100%;
            max-width: 550px;
            text-align: left;
            text-decoration: none;
            border: solid 1px #eff1f8;
            background-color: #fff;
            padding: 8px 20px;
            color: #4e5d6e;
            border-radius: 5px;
            margin: 5px 5px;
        }
        .vagasDisponveis .areaDescricaoVagas .vagas a:hover h2{
            color: #0081ff;
            transition: color .4s;
            -webkit-transition: color .4s;
            -moz-transition: color .4s;
            -o-transition: color .4s;
        }
            .vagasDisponveis .areaDescricaoVagas .vagas a h2{
                font-size: 16px;
                text-align: left;
                margin: 10px 0 5px 0;
            }    
                .vagasDisponveis .areaDescricaoVagas .vagas a span {
                    font-size: 13px;
                    display: inline-block;
                }
                .vagasDisponveis .areaDescricaoVagas .vagas a span.setor{
                    margin-right: 10px;
                    position: relative;
                }
                .vagasDisponveis .areaDescricaoVagas .vagas a span.setor:after {
                    content: '';
                    display: block;
                    background: #ccc;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    right: -10px;
                    top: 6px;
                }
                .vagasDisponveis .areaDescricaoVagas .vagas a span.localDaVaga{
    
                }
.pg-vaga {
}
    .pg-vaga .informacoesDaVaga{
        border-bottom: 1px solid #e6e6e5;
        margin-bottom: 30px;
    }
        .pg-vaga .informacoesDaVaga .tituloVaga{
            font-size: 30px;
            margin-bottom: 0;
            font-weight: 400;
        }
        .pg-vaga .informacoesDaVaga .localVaga{
            font-size: 14px;
            color: #333;
            display: inline-block;
            margin-top: 6px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .pg-vaga .informacoesDaVaga .tempoDaVaga{
            background-color: #F7E2C5;
            color: #906B37;
            display: inline-block;
            padding: 0 5px;
            vertical-align: text-bottom;
            border-radius: 2px;
            margin-left: 3px;
            font-size: 12px;
        }    
    .pg-vaga .conteudoDaVaga{
        width: 100%;
        max-width: 800px;
    }
        .pg-vaga .conteudoDaVaga h2{
            font-size: 24px;
            font-weight: 400;
        }
        .pg-vaga .conteudoDaVaga p{
            font-size: 15px;
        }
        .pg-vaga .conteudoDaVaga ul{

        }
            .pg-vaga .conteudoDaVaga ul li{
                font-size: 15px;
            }
        .pg-vaga .conteudoDaVaga img{
            width: 100%;
            height: auto;
            max-width: 700px;
        }
    .pg-vaga .botaoVaga {
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin: 31px auto 0;
        min-height: 50px;
    }
        .pg-vaga .botaoVaga a{
            color: #fff;
            background-color: #2f3b61;
            border: 1px solid #2f3b61;
            padding: 10px 15px;
            border-radius: 3px;
            text-decoration: none;
        }
        .pg-vaga .botaoVaga a:hover {
            color:#2f3b61;
            background: #fff;
            border: 1px solid #2f3b61:;
            transition: background .4s;
            -webkit-transition: background .4s;
            -moz-transition: background .4s;
            -o-transition: background .4s;
        }
 
@media (max-width: 767px){
    .vagasDisponveis .areaDescricaoVagas .vagas a {
        margin: 5px 0;
    }
    .vagasDisponveis .areaDescricaoVagas .vagas {
        padding: 0 5px;
    }
}
